.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 5vh;

  .results {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 1rem;
    justify-content: space-between;

    .result {
      justify-self: center;
      height: 38vh;
      max-height: 500px;
      max-width: 100%;
      :hover {
        scale: 1.02;
      }
    }
  }
}

mat-paginator {
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.loading-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

@media (max-width: 650px) {

  .container {

    .results {
      justify-content: center;

      .result {
        max-width: auto;
        :hover {
          scale: 1.00;
        }
      }
    }
  }
}