<div *ngIf="(movie$ | async) as movie" class="content">
  <img class="image" src="{{movie.Poster}}" (error)="img.src='assets/images/placeholder.png'" alt="Movie poster" #img>
  <div class="description">
    <div class="heading">
      <div class="left-section">
        <div class="title">{{movie.Title}}</div>
        <p>{{movie.Genre}}</p>
        <p>{{movie.Year}}</p>
      </div>
      <div *ngIf="movie.Ratings">
        <div>Rating</div>
        <div>{{movie.Ratings[0].Value}}</div>
      </div>
    </div>
    <div class="plot">
      <div>Description</div>
      <p>{{movie.Plot}}</p>
    </div>
    <p>Director: {{movie.Director}}</p>
    <p>Writer: {{movie.Writer}}</p>
  </div>
</div>
<div *ngIf="(movie$ | async)" class="visited">
  <div class="heading">Recently visited:</div>
  <div class="items">
    <div *ngFor="let item of (visited$ | async)" class="item">
      <app-search-result [result]="item" [routerLink]="['/movie', item.imdbID]"></app-search-result>
    </div>
  </div>
</div>
